@media screen and (min-width: 600px)
{
    body {
        background-image: url('fundal.jpg');
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    header input, header div {display:none;}
    nav{
        width:100%;
        height:4em;
        background-color:aliceblue;
        position: fixed;
        top:0;
        z-index: 10;
    }
    nav ul{
        list-style-type:none;
    }
    nav a{
        font-size: 1.5em;
        text-decoration: none;
        color: black;
        display: block;
        height:100%;
        font-family: "Century Gothic", sans-serif;
    }

    ul.meniu{
        padding: 0;
        margin: 0;
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: flex-start;
    }
    ul.meniu>li{
        flex-grow: 1;
        text-align: center;
        height: 4em;
        line-height: 4em;
        width:100%;
    }
    ul.meniu>li> ul.submeniu{
        display: none;
        width:100%;
        padding: 0;
        margin: 0;
        top: 0;
    }
    ul.meniu>li:hover>ul.submeniu{
        display: block;
        padding: 0;
        margin: 0;
        top: 0;
        background-color: aliceblue;
    }
    ul.meniu li:hover{
        background-color: white;
        transition-property: background-color;
        transition-duration: 1s;
    }
    ul.meniu >li>ul.submeniu a{
        padding: 0;
        margin: 0;
        text-align: center;
        top: 0;
    }

    h2{
        font-size:30px;
        text-shadow: 2px 2px rgb(230, 204, 219)
    }
    .inceput{
        border:5px pink dotted;
        font-size:25px;
        margin-left: 41%;
        margin-right: 41%;
    }
    footer{
        text-align: center;
        font-family: "Century Gothic", sans-serif;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #contact{
        padding-top: 50px;
        text-align: center;
        font-family: "Century Gothic", sans-serif;
        font-size: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-rows:1fr 1fr 2fr;
        grid-template-columns: 1fr 9fr;
        padding: 10px;
    }
    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

    .grid-container div:nth-child(even){
        text-align: left;
        font-family: "Century Gothic",sans-serif;
    }
    .grid-container .iconite{
        width: 38px;
        height: 35px;

    }

    .container {
        position: relative;
        width: 25%;
        left: 37.5%;
    }

    #adresa{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        font-size: 30px;
        padding-bottom: 10px;
        text-decoration: underline;

    }
    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .suprapunere {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: aliceblue;
        font-family: "Century Gothic",sans-serif;
    }

    .container:hover .suprapunere {
        opacity: 1;
    }

    .text {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


@media screen and (max-width: 600px)
{
    body {
        background-image: url('fundal.jpg');
        background-size: cover;
        padding-top: 0;
        margin: 0;
        top:0;
        left:0;
    }
    header > input{
        display: block;
        position:fixed;
        left : 15px;
        top : 15px;
        width : 40px;
        height : 40px;
        opacity: 0;
        z-index: 9;
    }

    header > div{
        display: block;
        position:fixed;
        left : 15px;
        top : 15px;
        width : 40px;
        height : 40px;
        z-index: 8;
    }

    header > div > div{
        background-color : black;
        margin-top: 5px;
        height : 4px;
        width:35px;
        border-radius: 3px;
    }
    input:checked ~ nav{
        display:block;
        width:20%;
        height:auto;
        background-color: pink;
        position: fixed;
        top:0;
        left: 0;
        z-index: 7;
        padding-top:50px;
    }
    header > input:checked + div >div:nth-child(1) {
        transform:rotate(45deg) translate(13px,12px);
    }

    header > input:checked + div >div:nth-child(2) {
        transform:scale(0);
    }

    header > input:checked + div >div:nth-child(3) {
        transform:rotate(-45deg);
    }
    nav{
        display: none;
    }

    nav ul{
        list-style-type:none;
    }

    nav a{
        font-size: 13px;
        text-decoration: none;
        color: black;
        display: block;
        height:100%;
        font-family: "Century Gothic",sans-serif;
    }

    ul.meniu{
        padding: 0;
        margin: 0;
        width: 100%;
        display:block;

    }
    ul.meniu>li{
        text-align: center;
        height: 4em;
        line-height: 4em;
        width:100%;
        position: relative;
    }
    ul.meniu>li> ul.submeniu{
        display: none;
        width:100%;
        padding: 0;
        margin: 0;
        top: 0;
    }
    ul.meniu>li:hover>ul.submeniu{
        display: block;
        padding: 0;
        margin: 0;
        top: 0;
        background-color: pink;
        position: absolute;
        left: 100%;
    }
    ul.meniu li:hover{
        background-color: white;
        transition-property: background-color;
        transition-duration: 1s;
    }
    ul.meniu >li>ul.submeniu a{
        padding: 0;
        margin: 0;
        text-align: center;
        top: 0;
    }


    h2{
        font-size:40px;
        text-shadow: 2px 2px rgb(230, 204, 219)
    }
    footer{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #contact{
        padding-top: 50px;
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        font-size: 20px;
    }

    .grid-container {
        display: grid;
        grid-template-rows:1fr 1fr 2fr;
        grid-template-columns: 1fr 9fr;
        padding: 10px;
    }
    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }

    .grid-container div:nth-child(even){
        text-align: left;
        font-family: "Century Gothic",sans-serif;
    }
    .grid-container .iconite{
        width: 38px;
        height: 35px;

    }

    .container {
        position: relative;
        width: 25%;
        margin-left: 25%;
    }

    #adresa{
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        font-size: 30px;
        padding-bottom: 10px;
        text-decoration: underline;

    }
    .image {
        display: block;
        width: 300px;
        height: 300px;
    }

    .suprapunere {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 300px;
        width: 300px;
        opacity: 0;
        transition: .5s ease;
        background-color: aliceblue;
        font-family: "Century Gothic",sans-serif;
    }

    .container:hover .suprapunere {
        opacity: 1;
    }

    .text {
        color: black;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
}