@media screen and (min-width: 600px)
{
    body {
        background-image: url('fundal.jpg');
        background-size: cover;
        padding: 0;
        margin: 0;
    }
    header input, header div {display:none;}
    nav{
        width:100%;
        height:4em;
        background-color:aliceblue;
        position: fixed;
        top:0;
        z-index: 10;
    }
    nav ul{
        list-style-type:none;
    }
    nav a{
        font-size: 1.5em;
        text-decoration: none;
        color: black;
        display: block;
        height:100%;
        font-family: "Century Gothic",sans-serif;
    }
    footer
    {
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        padding-bottom: 10px;
    }

    ul.meniu{
        padding: 0;
        margin: 0;
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: flex-start;
    }
    ul.meniu>li{
        flex-grow: 1;
        text-align: center;
        height: 4em;
        line-height: 4em;
        width:100%;
    }
    ul.meniu>li> ul.submeniu{
        display: none;
        width:100%;
        padding: 0;
        margin: 0;
        top: 0;
    }
    ul.meniu>li:hover>ul.submeniu{
        display: block;
        padding: 0;
        margin: 0;
        top: 0;
        background-color: aliceblue;
    }
    ul.meniu li:hover{
        background-color: white;
        transition-property: background-color;
        transition-duration: 1s;
    }
    ul.meniu >li>ul.submeniu a{
        padding: 0;
        margin: 0;
        text-align: center;
        top: 0;
    }
    h2{
        font-size:30px;
        text-shadow: 2px 2px rgb(230, 204, 219);
    }
    .inceput{
        border:5px aliceblue dotted;
        font-size:25px;
        margin-left: 18%;
        margin-right: 18%;
    }

    #oferte{
        padding-top: 50px;
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        font-size: 20px;
    }
    .oferta1{
        width:700px;
        height:350px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transition: transform 2s ease-in-out;

    }
    .oferta2{
        width: 700px;
        height:350px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transition: transform 2s ease-out;
        padding-top:20px;
    }
    .oferta3{
        width: 700px;
        height:350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: transform 2s ease-in;
        padding-top:20px;
        padding-bottom: 20px;
    }
    .oferta1:hover{
        transform: rotateX(360deg);
    }
    .oferta2:hover{
        transform: rotate(360deg);
    }
    .oferta3:hover{
        transform: rotateY(360deg);
    }
    .grid-container {
        display: grid;
        grid-template-rows:1fr 1fr 1fr ;
        grid-template-columns: auto auto;
        padding: 10px;
    }
    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    .grid-container div:nth-child(2){
        font-family: "Century Gothic",sans-serif;
        padding: 10%;
        color: rgb(212, 90, 131);
        font-weight: 500;
        text-shadow: 3px 2px 5px lightslategray;

    }
    .grid-container div:nth-child(3){
        font-family: "Century Gothic",sans-serif;
        padding: 10%;
        color:saddlebrown;
        text-shadow: 2px 3px 6px lightslategray;
    }
    .grid-container div:nth-child(6){
        font-family: "Century Gothic",sans-serif;
        padding: 15%;
        color: rgb(71, 117, 111);
        text-shadow: 2px 1px 3px lightslategray;
    }
    p{
        font-weight: bold;
    }

}


@media screen and (max-width: 600px)
{
    body {
        background-image: url('fundal.jpg');
        background-size: cover;
        padding-top: 0;
        margin: 0;
        top:0;
        left:0;
    }
    header > input{
        display: block;
        position:fixed;
        left : 15px;
        top : 15px;
        width : 40px;
        height : 40px;
        opacity: 0;
        z-index: 9;
    }

    header > div{
        display: block;
        position:fixed;
        left : 15px;
        top : 15px;
        width : 40px;
        height : 40px;
        z-index: 8;
    }

    header > div > div{
        background-color : black;
        margin-top: 5px;
        height : 4px;
        width:35px;
        border-radius: 3px;
    }
    input:checked ~ nav{
        display:block;
        width:20%;
        height:auto;
        background-color: pink;
        position: fixed;
        top:0;
        left: 0;
        z-index: 7;
        padding-top:50px;
    }
    header > input:checked + div >div:nth-child(1) {
        transform:rotate(45deg) translate(13px,12px);
    }

    header > input:checked + div >div:nth-child(2) {
        transform:scale(0);
    }

    header > input:checked + div >div:nth-child(3) {
        transform:rotate(-45deg);
    }
    nav{
        display: none;
    }

    nav ul{
        list-style-type:none;
    }

    nav a{
        font-size: 13px;
        text-decoration: none;
        color: black;
        display: block;
        height:100%;
        font-family: "Century Gothic",sans-serif;
    }

    ul.meniu{
        padding: 0;
        margin: 0;
        width: 100%;
        display:block;

    }
    ul.meniu>li{
        text-align: center;
        height: 4em;
        line-height: 4em;
        width:100%;
        position: relative;
    }
    ul.meniu>li> ul.submeniu{
        display: none;
        width:100%;
        padding: 0;
        margin: 0;
        top: 0;
    }
    ul.meniu>li:hover>ul.submeniu{
        display: block;
        padding: 0;
        margin: 0;
        top: 0;
        background-color: pink;
        position: absolute;
        left: 100%;
    }
    ul.meniu li:hover{
        background-color: white;
        transition-property: background-color;
        transition-duration: 1s;
    }
    ul.meniu >li>ul.submeniu a{
        padding: 0;
        margin: 0;
        text-align: center;
        top: 0;
    }

    h2{
        font-size:40px;
        text-shadow: 2px 2px rgb(230, 204, 219);
        text-align: center;
    }
    #oferte{
        padding-top: 50px;
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        font-size: 20px;
    }
    .oferta1{
        width:450px;
        height:225px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transition: transform 2s ease-in-out;
        align-content: center;

    }
    .oferta2{
        width: 450px;
        height:225px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        transition: transform 2s ease-out;
        padding-top:20px;
    }
    .oferta3{
        width: 450px;
        height:225px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: transform 2s ease-in;
        padding-top:20px;
        padding-bottom: 20px;
    }
    .oferta1:hover{
        transform: rotateX(360deg);
    }
    .oferta2:hover{
        transform: rotate(360deg);
    }
    .oferta3:hover{
        transform: rotateY(360deg);
    }
    .grid-container {
        display: inline;

    }
    .grid-item {
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
    .grid-container div:nth-child(2){
        font-family: "Century Gothic",sans-serif;
        padding: 10%;
        color: rgb(212, 90, 131);
        font-weight: 500;
        text-shadow: 3px 2px 5px lightslategray;

    }
    .grid-container div:nth-child(3){
        font-family: "Century Gothic",sans-serif;
        padding: 10%;
        color:saddlebrown;
        text-shadow: 2px 3px 6px lightslategray;
    }
    .grid-container div:nth-child(6){
        font-family: "Century Gothic",sans-serif;
        padding: 15%;
        color: rgb(71, 117, 111);
        text-shadow: 2px 1px 3px lightslategray;
    }
    p{
        font-weight: bold;
        padding:10px;
    }
    footer
    {
        text-align: center;
        font-family: "Century Gothic",sans-serif;
        padding-bottom: 10px;
    }

}